body {
    margin: 5%;
    font-size: 2vm;
    color: black;
    font-family: 'Barlow', sans-serif;
}

a {
    color: black;
}


.paragraph {
    vertical-align: top;
}

.paragraph a {
    /*    color:#f09100;*/
    opacity: .5;
    transition: 1s;
}

a:hover {
    opacity: 1;
}

#header {
    margin-bottom: 5%;
}

#directory a {
    color: grey;
    text-align: right;
    text-decoration: none;
    padding-right: 2em;
    transition: color .5s;
}

#directory a:hover {
    color: black;
}

#directory {
    position: absolute;
    right: 5%;
}

#name {
    text-decoration: none;
    font-weight: 700;
    font-size: 2vw;
}

.container {
    margin: 2% 2% 2% 0%;
    display: inline-grid;
    position: relative;
    width: 47.5%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 1;
}

h1 {
    letter-spacing: 0px;
}

.text {
    letter-spacing: -2px;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.caption {
    position: absolute;
    top: 30.5%;
    width: 30%;
    line-height: 1.5em;
}


.subtitle {
    letter-spacing: 1px;
    padding-top: .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2vw;
}

.column img,
.column video {
    width: 100%;
}

.prototype {
    text-align: center;
    position: absolute;
    top: 9%;
    left: 12%;
}

.prototypeX {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 12.5%;
}

.halfcolumn div,
.halfcolumn img {
    display: inline-block;
    margin-left: 10%;
    width: 25%;
}

.footer {
    margin-top: 5%;
    text-align: center;
    font-weight: 700;

}

.footer a {
    padding-right: 2em;
    opacity: .25;
    transition: 1s;
    text-decoration: none;

}

.footer a:hover {
    opacity: 1;
}

.firstFadeIn {
    position: relative;
    top: 60px;
    opacity: 0;
}

.hideme {

    margin-top: 5%;
    position: relative;
    top: 60px;
    opacity: 0;
}

.fullscreenText {
    font-size: 3vw;
    text-align: center;
    margin: 25% 20% 25% 20%;
}

input[type=submit] {
    padding: 10%;
    font-size: 4em;
}

input[type=password] {
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus {
    width: 90%;
}

input[type=password] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: .75em;
    background-color: white;
    /*    background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2% 5% 2% 5%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
